.crew-page {
  margin-left: 20px;
  margin-top: 0px; /* adjust based on your topbar height */
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #1f1f4e;
  margin-bottom: 1rem;
}

.crew-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #e3eff8;
}

.crew-table th,
.crew-table td {
  padding: 0.8rem 1rem;
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 1rem;
}

.crew-table th {
  font-weight: bold;
  background-color: #d2e6f5;
  color: #1f1f4e;
}

.user-icon {
  margin-right: 8px;
  color: #3e5e8e;
}